
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&family=Poppins:wght@100;200;400;600;800&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(img.jpg);
}

.form-box{
    width: 90%;
    height: 880px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: white;
    position: relative;
}

.form-box h1::after{
content: '';
width: 30px;
height: 4px;
border-radius: 3px;
background-color: #fff;
position: absolute;
bottom: -12px;
left: 50%;
transform: translateX(-50%);
}

.input-field{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    margin: 15px 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    max-height: 100px;

}
::placeholder {
    color: white;
    opacity: 1;
  }

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px ;
    color: white;
}

textarea{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px ;
    color: white;
}

.input-field i{
    margin-left: 15px;
    color: white;
}


.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-field button{
    flex-basis: 60%;
    background-color: white;
    color: black;  
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
}

.input-group{
    height: 280px;
}

.btn-field button:hover{
    box-shadow: 2px 2px 10px rgba(255,255,255,1.5) ;
}

#date:focus{
    color: #fff;
  }

#date{
  color: white;
}

